:root {
    --green: #00e1ff;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}
  
body {
      background: var(--bg);
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}
  
.list {
    list-style: square;
}

.box{
    border-style:dotted;
    border-color: var(--green);
    width: 30%;
    position: relative;
    height:auto;
    margin: auto;
}

.sliderbox{
    border-style:double;
    border-color: var(--green);
    width: 20%;
    position: relative;
    height: auto;
    margin: auto;
}

.leftSlider{
    margin: auto;
}

.rightSlider{
    float: right;
}

.canvas{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.pointercanvas{
    width: 49%;
    height: 120px;
    position: relative;
    margin: auto;
    display: inline-block;
}

.dummy{
    margin-top: 100%;
}

.slidecontainer{
    display: inline-block;
    margin: auto;
    height: 50%;
    width: 150px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--green);
    color: var(--green);
}

.btn {
    display: inline-block;
    height: 35px;
    width: 100px;
    border-radius: 15%;
    border:double;
    border-color: var(--green);
    color: var(--fontColor);
    background-color: var(--btnFontColor);
    text-align: center;
    padding: 5px;
}

.btn:hover{
    border-width: 5px;
}

.btn:active{
    border-color:#0a606b;
}

.center{
    margin: auto;
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: fit-content;
    max-height: fit-content;
}

.btn:focus { outline-style: none; }

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
  
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

